{{set . "title" "Home"}}
{{append . "moreScripts" "js/power-slider.js"}}
{{template "header.html" .}}

<div class="container">
  <div class="row">
    {{template "app/leftbar.html" .}}
    {{template "app/content.html" .}}
    {{template "rightbar.html" .}}
  </div>

<script type="text/javascript">
    $(function(){
        $.getJSON('notice', function(data){
            if (!data.Err) {
                $('#notice_title').html(data.N.Title);
                $('#notice_content').html(data.N.Content);
            }
        });
    
        $.getJSON('stat', function(data){
            $('#_user').html(data.User+" 人");
            $('#_book').html(data.Book+" 册");
            $('#_topic').html(data.Topic+" 条");
            $('#_reply').html(data.Replay+" 条");
        });
    
        $.getJSON('hot', function(data){
            if (!data.errno) {
                if (data.nodes == null) {
                    return
                }
                var count = data.nodes.length
                  nodeHtml = '';
                for (var i=0; i<count; i++) {
                    var node = data.nodes[i];
                    nodeHtml += '<li> <a href="/topics/node'+node.nid+'" title="'+node.name+'">'+node.name+'</a></li>';
                }
                $('#hotnodes').html(nodeHtml);
            }
        });
    });
</script>

{{template "footer.html" .}}
