<div class="span2 block">
  <div class="box">
    <h2 class="title"><i class="icon-barcode"></i> 社区公告</h2>
    <div>
      <h3 id="notice_title"></h3>
      <p id="notice_content"></p>
    </div>
  </div>
  <div class="box">
    <h2 class="title"><i class="icon-tint"></i> 统计信息</h2>
    <ul id="stat" class="unstyled">
      <li>社区会员: <span id="_user"></span></li>
      <li>图书数: <span id="_book"></span></li>
      <li>帖子数: <span id="_topic"></span></li>
      <li>回帖数: <span id="_reply"></span></li>
    </ul>
  </div>
</div>
