<div class="span3 block">
  {{if .user}}
  <div class="box">
   <div class="fix-clear">
   <div class="cell">
       <table cellpadding="0" cellspacing="0" border="0" width="100%">
           <tbody><tr>
               <td width="48" valign="top"><a href="/user/{{.user.Name}}"><img src="{{.user.AvatarImgSrc}}" class="avatar" border="0" align="default" style="max-width: 48px; max-height: 48px;"></a></td>
               <td width="10" valign="top"></td>
               <td width="auto" align="left"><span class="bigger"><a href="/user/{{.user.Name}}">{{.user.Name}}</a></span></td>
           </tr>
       </tbody></table>
       <div class="sep10"></div>
       <table cellpadding="0" cellspacing="0" border="0" width="100%">
           <tbody><tr>
               <td width="33%" align="center"><a href="{{url "User.Borrow"}}" class="dark" style="display: block;"><span class="bigger">{{.user.BookCount}}</span><div class="sep3"></div><span class="fade">预借图书</span></a></td>
               <td width="34%" style="border-left: 1px solid rgba(100, 100, 100, 0.4); border-right: 1px solid rgba(100, 100, 100, 0.4);" align="center"><a href="{{url "User.Owned"}}" class="dark" style="display: block;"><span class="bigger">{{.user.OwnCount}}</span><div class="sep3"></div><span class="fade">借阅图书</span></a></td>
               <td width="33%" align="center"><a href="{{url "User.Collected"}}" class="dark" style="display: block;"><span class="bigger">{{.user.CollectCount}}</span><div class="sep3"></div><span class="fade">收藏图书</span></a></td>
           </tr>
       </tbody></table>
   </div>
   <div class="inner"><div class="fr" id="money"><a href="/balance" class="balance_area" style="">20 <img src="public/img/silver.png" alt="S" align="absmiddle" border="0" style="padding-bottom: 2px;"></a></div><a href="#" class="fade">0 条未读提醒</a></div>
    </div>
  </div>
  {{else}}
  <div class="box">
    <h2 class="title"><i class="icon-user"></i> 用户登录</h2>
    <form action="{{url "User.SigninPost"}}" method="post">
      {{with $field := field "name" .}}
      <div class="control-group">
        <div class="controls">
            <input class="span2" id="{{$field.Name}}" name="{{$field.Name}}" type="text" placeholder="请填写用户名"/>
        </div>
      </div>
      {{end}}
      {{with $field := field "password" .}}
      <div class="control-group">
        <div class="controls">
            <input class="span2" id="{{$field.Name}}" name="{{$field.Name}}" size="50" type="password" placeholder="请填写密码"/>
        </div>
      </div>
      {{end}}

      <div class="control-group">
		<div class="controls">
            <label for="user_remember_me" style="display:inline;"><input id="user_remember_me" name="remember_me" type="checkbox" value="1" checked="checked" /> 记住登录状态</label>
			<button type="submit" class="btn btn-primary">登录</button>
		</div>
      </div>
    </form>
  </div>
  {{end}}
  <div class="box hot_nodes">
    <h2 class="title"><i class="icon-tags"></i> 热门节点</h2>
    <ul id="hotnodes" class="unstyled">
    </ul>
  </div>
  <div class="box">
    <h2 class="title"><i class="icon-th-large"></i> 活跃会员</h2>
    <ul class="unstyled">
      {{range .actives}}
      <li class="fl" style="margin: 8px;">
      <div class="avatar"><a href="/user/{{.Username}}" title="{{.Username}}"><img alt="{{.Username}}" class="uface" src="gravatar .Email 48" style="width:48px;height:48px;"></a></div>
      <div class="name center"><a href="/user/{{.Username}}" title="{{.Username}}">substring .Username 6 ""</a></div>
      </li>
      {{end}}
    </div>
  </div>
</div>
