body {
  padding: 0 0 40px 0;
  background: url("/public/img/back.png");
}

h2 {
  font-size: 24px;
  line-height: 36px;
}

.hero-unit {
  background-color: #222;
  margin-top:0px;
  min-width: 940px;
  color:#ccc;
  padding-top:0px;
  border-bottom:1px solid #375EAB;

  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

.hero-img {
  float:left;
}

.hero-text {
  margin-left:200px;
  padding-top:200px;
  padding-bottom:150px;
}

pre {
  white-space:pre;
  word-wrap:normal;
  word-break:normal;
  overflow-x:auto;
}

#header {
  position: absolute;
  width: 100%;
  min-width: 940px;
  top: 0;
  height: 60px;
  border-bottom: 1px solid #322;
  opacity:0.5;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px;
}

#header #wrapper {
  width: 940px;
  margin: 0 auto;
  position: relative;
}

#header #nav {
  width: 900px;
  height: 65px;
  margin: 0 auto;
  text-align: center;
}

#header #nav li {
  margin: 0 40px;
  font-size:28px;
  line-height: 26px;
  display: inline;
}

#header #nav li.active a {
  font-weight:bold;
  color:#eee !important;
}

a {
  color: #0088cc;
  text-decoration: none;
}

a:hover {
  color: #005580;
  text-decoration: underline;
}

.navbar-fixed-top {
    position: static;
    top: 0;
    right: 0;
    left: 0;
    margin-bottom: 20px;
}


.navbar {
  color: #999999;
  overflow: visible;
  margin-bottom: 18px;
}

.leftnav {
  border-right: 1px solid #eee;
  padding-top: 15px;
}

.navbar-inner {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #2c2c2c;
  background-image: url("/public/img/top.png");
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
  box-shadow: 0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
}

.navbar .nav>li>a {
  font-size: 16px;
  color: white;
  text-shadow: 0px -1px 1px #000;
  margin-top: 8px;
  padding: 5px 15px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.navbar .nav>li>a:hover {
  background-color:#7CB407;
}

code {
  color: #a14;
  background: 0;
  border: 0;
}

a code {
  color: #08C;
}

ul ul, ul ol, ol ol, ol ul, ul {
  margin-bottom: 1em;
}

.container-fluid {
  padding: 0;
}

.container-fluid {
  padding-left: 20px;
  padding-right: 20px;
}

.container-fluid:before, .container-fluid:after {
  display: table;
  content: "";
}
.container-fluid:after {
  clear: both;
}

.container-fluid:before, .container-fluid:after {
  display: table;
  content: "";
}

.box {
  background: white;
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.15);
  box-shadow: 0px 1px 5px rgba(0,0,0,0.15);
  border-bottom: 1px solid #E2E2E9;
  margin-bottom: 30px;
}

.box h2.title {
  font-size: 12px;
  margin: 0 -10px;
  padding: 0 10px;
  margin-bottom: 8px;
  color: #999;
  line-height: 100%;
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
}

.navbar-search .search-query:focus, .navbar-search .search-query.focused {
  padding: 5px 10px;
  color: #333333;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #ffffff;
  border: 0;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 0 3px rgba(0,0,0,0.15);
  box-shadow: 0 0 3px rgba(0,0,0,0.15);
  outline: 0;
}

.navbar-fixed-top .search-query {
  margin-bottom: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.navbar-search .search-query {
  padding: 4px 9px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1;
  color: #ffffff;
  background-color: #626262;
  border: 1px solid #151515;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1),0 1px 0px rgba(255,255,255,0.15);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1),0 1px 0px rgba(255,255,255,0.15);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1),0 1px 0px rgba(255,255,255,0.15);
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

.button {
    display: inline-block;
    position: relative;
    margin: 10px;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    /*
    text-shadow: 1px 1px 1px rgba(255,255,255, .22);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    transition: all 0.15s ease;
    */
}

.gray {
    color: #515151;
    background: #d3d3d3; /* Old browsers */
    background: -moz-linear-gradient(top,  #d3d3d3 0%, #8a8a8a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3d3d3), color-stop(100%,#8a8a8a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* IE10+ */
    background: linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* W3C */
}

.search-query {
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 0;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
}

label.required abbr {
  color: #c00;
}

abbr[title] {
  border: 0;
  cursor: default;
}

.navbar .nav.pull-right .dropdown-menu, .navbar .nav .dropdown-menu.pull-right {
  left: auto;
  right: 0;
}

.dropdown.open .dropdown-menu {
  display: block;
}

.dropdown-menu>li>a {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #333333;
  white-space: nowrap;
}

.span2[class="span2"] {
  width: 80%;
}

.fl {
  float: left;
}

.profile-show {
  padding-left: 10px;
}


.box > .btn {
  padding:5px;
}

h2[class="title"] {
  position: relative;
}

h2[class="title"] .more {
  position: absolute;
  right: 5px;
}

.reviews li {
  margin-bottom: 20px;
  background-image: url("/public/img/bg_item.png");
  background-position: 0 bottom;
  background-repeat: repeat-x;
}

.reviews .cover, .reviews .cover img{
  width: 100px;
}

.details .cover, .details .cover img {
  width:150px;
}

.cover img{
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}

span.eye {
  background: url(/public/img/Eye.png) no-repeat;
  padding-left: 20px;
}

span.divider {
  color: #81b38a;
  padding: 0 6px 0 4px;
}

span.thumbsup {
  background: url(/public/img/ThumbsUp.png) no-repeat;
  padding-left: 20px;
}

span.chat {
  background: url(/public/img/Chat.png) no-repeat;
  padding-left: 20px;
}

.book-title a {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.book-meta {
  margin-top: 8px;
}
.book-meta p {
  margin-bottom: 0;
}
.book-meta p {
  line-height: 1.5;
}

.book-meta .label, .labeled-text a, .labeled-text .plain {
  margin-right: 5px;
}
.book-meta .label {
  color: #666;
  margin-right: 1em;
  text-shadow:none;
  background:none;
}

.head h3 {
  font-size: 20px;
}
.inner {
  padding: 10px;
  font-size: 12px;
  line-height: 150%;
  text-align: left;
}

.fade {
color: #ccc;
opacity: 100;
}
/*
.normal.button {
background-color: #f0f4f7;
color: #333;
text-shadow: 0px 1px 0px #fff;
text-decoration: none;
font-weight: bold;
box-shadow: 0px 1px 0px rgba(66, 66, 77, 0.25);
}
.normal.button:hover {
background-color: #fff;
color: #333;
text-shadow: 0px 1px 0px #fff;
text-decoration: none;
font-weight: bold;
cursor: pointer;
box-shadow: 0px 1px 0px rgba(66, 66, 77, 0.2);
}
.super.button {
background-image: url("/public/img/bg_blended.png");
padding: 4px 15px 4px 15px;
border: 1px solid rgba(80,80,90, 0.2);
border-bottom-color: rgba(80,80,90, 0.35);
border-radius: 3px;
font-size: 12px;
line-height: 12px;
outline: none;
}
*/

.footer {
  padding: 5px;
  font-size: 14px;
  line-height: 120%;
  background: #eeeeee;
  background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc));
  background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
  background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
  background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
  background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
  border-radius: 0px 0px 3px 3px;
  text-align: left;
}

.bigger {
font-size: 16px;
}

img.avatar {
-moz-border-radius: 4px;
border-radius: 4px;
}

.cell {
padding: 10px;
font-size: 12px;
line-height: 120%;
text-align: left;
border-bottom: 1px solid #e2e2e2;
}

.sep10 {
height: 10px;
}

.inner {
padding: 10px;
font-size: 12px;
line-height: 150%;
text-align: left;
}

.fr {
float: right;
text-align: right;
}

.slider{height:200px; margin:5px auto; overflow:hidden; position:relative;}
.sliderbox{position:relative;}
.slidernav{position:absolute; right:0; bottom:0; width:100%; background: rgba(0,0,0,0.5); color:#fff; font-size:0; *word-spacing: -1px;}
.slidernav li{display: inline-block; *display: inline; *zoom:1; vertical-align: top; font-size:14px; margin-left: 10px; letter-spacing: normal; word-spacing: normal;}
.slidernav li a{width:16px; padding:2px 4px; height:12px; background:#fff; color:#000; text-align:center;}
.slidernav li.current a{background:#3B8DD1; color:#fff;}
@media screen and (-webkit-min-device-antio:0){
.slidernav{letter-spacing: -5px;}
}
.slider .prev, .slider .next{position: absolute; top:50%; margin-top:-30px; cursor: pointer; width:61px; height:61px; left:0; background: url("/public/img/ft_icons.png") 0 0 no-repeat; text-indent:-9999px;}
.slider .next{right:0; left:auto; background-position: 0 -61px;}
.sliderbox li {
  padding-right:5px;
  list-style-type :none; 
}

.app-article .rating {
margin-top: 8px;
}
.article-rating {
line-height: 18px;
color: #825d5b;
}

.intro p {
text-indent: 2em;
line-height: 24px;
min-height: 24px;
font-size: 14px;
margin-bottom: 0;
}

footer {
background-color: white;
margin: 0;
padding-top: 20px;
padding-bottom: 10px;
}
.footer-links {
margin: 10px 0;
padding-left: 0;
}
.footer-links li:first-child {
padding-left: 0;
}
.footer-links li {
display: inline;
padding: 0 2px;
}
