<div class="head">
    <ul class="nav nav-tabs">
	{{if eq .subActive "intro"}}
		<li class="active"><a href="javascript:;">导言</a></li>
	{{else}}
        <li><a href="{{url "Book.Show" .book.Id}}">导言</a></li>
	{{end}}
	{{if eq .subActive "borrow"}}
		<li class="active"><a href="javascript:;">借阅详情</a></li>
	{{else}}
        <li><a href="{{url "Book.Borrow" .book.Id}}">借阅详情</a></li>
	{{end}}
	{{if eq .subActive "comment"}}
		<li class="active"><a href="javascript:;">评论</a></li>
	{{else}}
    <li><a href="">评论</a></li>
	{{end}}
    </ul>
</div>
<div class="clearfix"></div>
