<ul class="books unstyled reviews">
{{range .books}}
<li class="reviews">
    <div class="cover pull-left">
        <a href="{{url "Book.Show" .Id}}" class="pull-left"><img src="{{.CoverImgSrc}}"></a>
    </div>

    <div class="info pull-left">
      <div class="header">
          <h5 class="pull-left"><a href="{{url "Book.Show" .Id}}">{{.Title}}</a></h5>
          <div class="feedback muted pull-right">
              <span class="eye" title="被查看 {{.Hited}} 次">{{.Hited}}</span>
              <span class="divider">|</span>
              <span class="thumbsup" title="{{.Commented}} 次评论">{{.Commented}}</span>
              <span class="divider">|</span>
              <span class="chat" title="{{.Readed}} 次借阅">{{.Readed}}</span>
          </div>
          <div class="clearfix"></div>
      </div>
        <div class="book-meta">
            <p class="author"><span class="label">作者</span><span class="labeled-text">{{.Author}}</span></p>
            {{if .Translator}}<p class="translator"><span class="label">译者</span><span class="labeled-text">{{.Translator}}</span></p>{{end}}
            <p class=""><span class="label">出版信息</span><span class="labeled-text">{{.Publisher}} / {{.PublicationDate}}</span></p>
            <p class=""><span class="label">页数</span><span class="labeled-text">{{.Pages}} 页</span></p>
        </div>
  </div>
</li>
{{end}}
</ul>
