{{set . "title" "借阅请求"}}
{{template "admin/header.html" .}}

<div class="row-fluid">
	<div class="span3">
	{{template "admin/sidebar.html" .}}
	</div><!--/span-->

	<div class="span9">
		{{template "flash.html" .}}
		<div class="page-header">
			<h3>{{.title}}</h3>
		</div>
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>用户</th>
					<th>图书</th>
					<th>请求时间</th>
					<th>操作</th>
				</tr>
			 </thead>
			{{range .borrows}}
				<tr id="{{.Id}}">
					<td>{{.Id}}</td>
					<td>{{.User.Name}}</td>
					<td>{{.Book.Title}}</td>
					<td>{{datetime .Updated}}</td>
					<td>
						<button href="#" class="btn btn-mini btn-primary btn-ok confirm" id="{{.Id}}"><i class="icon-ok icon-white"></i> 确认</button>
						<button href="#" class="btn btn-mini btn-danger remove" id="{{.Id}}"><i class="icon-remove icon-white"></i> 删除</button>
					</td>
				</tr>
			{{end}}
		</table>
	</div><!--/span-->
</div><!--/row-->

<script type="text/javascript">
$(document).ready(function(){
	var id, button;
	$("button.confirm").click(function () {
		var id = $(this).attr("id");
		console.log('borrow/'+ id + '/confirm')
		$.getJSON('borrow/'+ id + '/confirm', function(data) {
			if (data) {
				$("tr#" + id).fadeOut("slow", function () {
					$("tr#" + id).remove();
				});
			};
		});
	});

	$("button.remove").click(function () {
		if (confirm("确定删除吗?")) {
			var id = $(this).attr("id");

			console.log('book/'+ id + '/delete')
			$.getJSON('borrow/'+ id + '/delete', function(data) {
				if (data) {
					$("tr#" + id).fadeOut("slow", function () {
						$("tr#" + id).remove();
					});
				};
			});
		};
	});
});
</script>
{{template "admin/footer.html" .}}
